<md-content class="md-padding" layout="column" layout-sm="column" ng-controller="BloodpressureController">
    <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular ng-hide="!activated" md-mode="indeterminate"></md-progress-circular>
    </div>
    <md-list ng-hide="activated" flex>
        <md-list-item class="md-3-line" ng-repeat="item in bloodpressure" ng-click="null">
            <div class="md-list-item-text" layout="column">
                <h3>{{ item.systolic}}</h3>
                <h4>{{ item.diastolic}}</h4>
                <p>{{ item.created_at}}</p>
            </div>
        </md-list-item>
        <md-divider ></md-divider>
    </md-list>
</md-content>