<md-content class="md-padding" layout="row" layout-sm="column" ng-controller="DoctorController as vm">
    <md-input-container>
        <label>First name</label>
        <input ng-model="vm.doctor.name">
    </md-input-container>
        <md-input-container>
        <input ng-model="vm.doctor.patronymic">
    </md-input-container>
    <md-input-container>
        <label>Second Name</label>
        <input ng-model="vm.doctor.surname">
    </md-input-container>
        <md-input-container>
        <label>Second Name</label>
        <input ng-model="vm.doctor.organization">
    </md-input-container>
    <md-input-container>
        <label>Email</label>
        <input ng-model="vm.doctor.email" type="email">
    </md-input-container>      
</md-content>