<md-content class="md-padding" layout="column" layout-sm="column" ng-controller="DoctorController">
    <md-input-container>
        <label>{{ 'FIRST_NAME' | translate }}</label>
        <input ng-model="doctor.name">
    </md-input-container>
    <md-input-container>
        <label>{{ 'SERNAME' | translate }}</label>
        <input ng-model="doctor.patronymic">
    </md-input-container>
    <md-input-container>
        <label>{{ 'SECOND_NAME' | translate }}</label>
        <input ng-model="doctor.surname">
    </md-input-container>
    <md-input-container>
        <label>{{ 'ORGANIZATION' | translate }}</label>
        <input ng-model="doctor.organization">
    </md-input-container>
    <md-input-container>
        <label>{{ 'EMAIL' | translate }}</label>
        <input ng-model="account.email" type="email">
    </md-input-container> 
    <md-input-container layout-align="center center">
        <md-button class="md-raised md-primary" ng-click="update()">{{ 'BUTTON_UP_INFO' | translate }}</md-button>
    </md-input-container>
</md-content>