<md-content class="md-padding" layout="column" layout-sm="column" ng-controller="EcgController">
        <div layout="row" layout-sm="column" layout-align="space-around">
            
          <nvd3 options="options" data="data"></nvd3>  
            
            
<!--            with angular-chart.js
        <md-progress-circular ng-hide="!activated" md-mode="indeterminate"></md-progress-circular>
    </div>
    <div class="chartWrapper">
        <div class="chartAreaWrapper">
            <canvas chart-data="data"
                    class="chart-line"
                    chart-labels="labels"
                    chart-options="options"
                    chart-series="series"
                    chart-colors="colors"
                    chart-dataset-override="datasetOverride"
                    chart-click="onClick"
                    width="1200"></canvas>
        </div>
    </div>-->
</md-content>
