<md-content class="md-padding" layout="column" layout-sm="column" ng-controller="FeedbackController as vm">
    <lable>user_id</lable> 
    <lable>{{feedback.questionnaireUri}}</lable>
    <md-list flex>
        <md-list-item ng-repeat="response in feedback.responses" class="noright">
            <p>{{ response.questionUri}}</p>
            <md-list flex>
                <md-list-item ng-repeat="item in response.responseItems">
                    <p>{{item.textItem}}</p>
                    <md-list flex>
                        <md-list-item ng-repeat="linkedItems in item.linkedItems">
                            <p>{{ 'ANSWER' | translate }}: {{linkedItems.itemText}} {{ 'SCORE' | translate }}: {{linkedItems.itemScore}}</p>
                        </md-list-item>
                    </md-list>
                </md-list-item>
            </md-list>
        </md-list-item>
        <md-divider ></md-divider>
    </md-list>
</md-content>
