<md-content class="md-padding" layout="column" layout-sm="column" ng-controller="FeedbackListController">   
    <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular ng-hide="!activated" md-mode="indeterminate"></md-progress-circular>
    </div>
    <md-list ng-hide="activated" flex>
        <md-input-container>
            <label>{{ 'SEARCH' | translate }}</label>
            <input ng-model="searchText">
        </md-input-container>
        <md-list-item ng-repeat="item in feedbacks | filter:searchText" class="noright" ng-click="openFeedback($event, item.id)">
            <p flex>{{ item.data }} {{ item.created_at}}</p>
            <md-icon md-svg-src="assets/images/ic_delete_24px.svg" class="md-secondary" ng-click="deleteFeedback($event, item)" aria-label="Delete"></md-icon>
            <md-divider ></md-divider>
        </md-list-item>
    </md-list>
</md-content>

<script type="text/ng-template" id="feedback.tmpl.html">
<md-dialog aria-label="Your Invites">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ 'QUESTIONNAIRE' | translate }} {{questionnaire.version}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="assets/images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <md-content class="md-padding" layout="column" layout-sm="column">
    <lable>{{feedback.created_at}}</lable>


    <md-list flex>
        <md-list-item ng-repeat="respond in feedback.responds" class="noright">
            <md-content layout="column">
                <p>{{ respond.question_id}}</p>
                <md-list flex>
                    <md-list-item ng-repeat="response in respond.responses">
                        <md-content layout="column">
                            <md-list flex>
                                <md-list-item ng-repeat="responseItem in response.responseItems">
                                    <p> {{responseItem.responseScore}}</p>
                                </md-list-item>
                            </md-list>
                        </md-content>
                    </md-list-item>
                </md-list>
            </md-content>       
        </md-list-item>
        <md-divider ></md-divider>
    </md-list>
</md-content>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
        OK
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
</script>