<md-content class="md-padding" layout="column" layout-sm="column" ng-controller="InvitesController as vm">
    <md-input-container>
        <label>{{ 'EMAIL' | translate }}</label>
        <input ng-model="vm.invite.email">
    </md-input-container>

    <md-input-container>
        <label>{{ 'ROLE' | translate }}</label>
        <md-select ng-model="vm.invite.role">
            <md-option ng-repeat="role in vm.role" ng-value="role.value" >
                {{role.name}}
            </md-option>
        </md-select>
    </md-input-container>
    <md-input-container>
        <md-button class="md-raised md-primary" ng-click="vm.invitePerson()">{{ 'BUTTON_INVITE' | translate }}</md-button>
        <md-button class="md-raised md-primary" ng-click="vm.showInvites($event)">{{ 'BUTTON_SHOW_INV' | translate }}</md-button>
    </md-input-container>
</md-content>
