<md-content class="md-padding" layout="column" layout-sm="column"  ng-controller="PasswordRecoveryController as vm">
    <md-input-container>
        <label>New Password</label>
        <input required ng-model="vm.input.password" type="password">
    </md-input-container>
    <div layout="row">
        <md-input-container>
            <label>Recovery Code</label>
            <input required ng-model="vm.input.code" type="text">
        </md-input-container>
        <md-input-container>
            <md-button class="md-raised md-primary" ng-click="vm.getRecoveryCode()">Get Code</md-button>
        </md-input-container>
    </div>
    <md-input-container layout-align="center center">
        <md-button class="md-raised md-primary" flex="50" flex-sm="100" ng-click="vm.reset()">Reset password</md-button>
    </md-input-container>
</md-content>