<md-content class="md-padding" layout="column" layout-sm="column"  ng-controller="PasswordRecoveryController as vm">
    <md-input-container>
        <label>{{ 'NEW_PWD' | translate }}</label>
        <input required ng-model="vm.input.password" type="password">
    </md-input-container>
    <div layout="row">
        <md-input-container>
            <label>{{ 'REC_CODE' | translate }}</label>
            <input required ng-model="vm.input.code" type="text">
        </md-input-container>
        <md-input-container>
            <md-button class="md-raised md-primary" ng-click="vm.getRecoveryCode()">{{ 'BUTTON_GET_CODE' | translate }}</md-button>
        </md-input-container>
    </div>
    <md-input-container layout-align="center center">
        <md-button class="md-raised md-primary" flex="50" flex-sm="100" ng-click="vm.reset()">{{ 'BUTTON_RESET_PWD' | translate }}</md-button>
    </md-input-container>
</md-content>