<md-content class="md-padding" layout="column" layout-sm="column"  ng-controller="PasswordRecoveryController as vm">
    <md-input-container>
        <label>Curent Password</label>
        <input ng-model="vm.input.curent" type="password">
    </md-input-container>
    <md-input-container>
        <label>New Password</label>
        <input ng-model="vm.input.new" type="password">
    </md-input-container>
    <md-input-container>
        <label>Confirm New Password</label>
        <input type="password">
    </md-input-container>
    <md-input-container layout-align="center center">
        <div layout="row" layout-sm="column" layout-margin>
            <md-button class="md-raised md-primary" flex="50" flex-sm="100" ng-click="vm.reset()">Reset password</md-button>
        </div>
    </md-input-container>
</md-content>