<md-content ng-controller="PatientListController as vm">
    <md-list flex>
        <md-list-item ng-repeat="item in vm.patients" ng-click="goToPerson(person.name, $event)" class="noright">
            <img alt="{{ item.surname}}" ng-src="{{ person.img}}" class="md-avatar" />
            <p>{{ item.surname}} {{ item.name}} {{ item.patronymic}}</p>
            <md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>
            <md-icon md-svg-icon="email"  aria-label="Send Email" class="md-secondary md-hue-3" ></md-icon>
            <md-icon md-svg-icon="message" class="md-secondary" aria-label="Chat"></md-icon>
        </md-list-item>
        <md-divider ></md-divider>
    </md-list>
</md-content>
