<md-content  class="md-padding" layout="column" ng-controller="PatientListController">
    <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular ng-hide="!activated" md-mode="indeterminate"></md-progress-circular>
    </div>
    <md-list ng-hide="activated" flex>
        <md-input-container>
            <label>{{ 'SEARCH' | translate }}</label>
            <input ng-model="searchText">
        </md-input-container>
        <md-list-item ng-repeat="item in patients  | filter:searchText" ui-sref="home.patient({userId: item.id})" class="secondary-button-padding">
<!--            <img alt="{{ item.surname}}" ng-src="{{ item.img}}" class="md-avatar" />-->
<p>{{ item.surname}} {{ item.name}} {{ item.patronymic}}</p>
<!--            <md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>
            <md-icon md-svg-src="assets/images/box.svg"  aria-label="Send Email" class="md-secondary md-hue-3" ></md-icon>-->
<md-icon md-svg-src="assets/images/comment.svg" class="md-secondary" aria-label="Chat" ng-click="dialogQuestionnaire($event, item.id)"></md-icon>
        </md-list-item>
    </md-list>
    <div id="pagination" class="row">
        <md-button class="md-fab md-mini" ng-disabled="firstPage()" ng-click="pageBack()"><</md-button>
        <span>{{currentPage+1}} из {{numberOfPages()}}</span>
        <md-button class="md-fab md-mini" ng-disabled="lastPage()" ng-click="pageForward()">></md-button>
    </div>
</md-content>



<script type="text/ng-template" id="addqst.tmpl.html">
<md-dialog aria-label="Questonnaires">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ 'QUESTIONNAIRES' | translate }}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="assets/images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container>
            <label>{{ 'SEARCH' | translate }}</label>
            <input ng-model="searchText">
        </md-input-container>
        <md-list-item ng-repeat="item in questionnaires | filter:searchText" class="secondary-button-padding" >
            <p flex>{{ item.description}} {{ item.version}}</p>
            <md-checkbox class="md-secondary" 
                        ng-model="item.selected"
                        ng-change="checkQuestionnaire(item.id, item.selected)"/>

            <md-divider ></md-divider>
        </md-list-item>
        </md-content>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
        OK
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
</script>
