<md-content class="md-padding" layout="column" layout-sm="column" ng-controller="QuestionnaireAddController as vm">
    <md-content class="md-padding" layout="row">
    <md-input-container flex>
        <label>Short description</label>
        <input ng-model="vm.questionnaire.title">
    </md-input-container>
    <md-input-container>
        <label>Version</label>
        <input ng-model="vm.questionnaire.version">
    </md-input-container>
    </md-content>
    
    <aps-upload-file></aps-upload-file>
    
    <div layout="row" layout-sm="column" layout-margin>
    <md-button class="md-raised md-primary" flex="50" flex-sm="100" ng-click="vm.downloadQuestionnaire()">Download</md-button>
    </div>
    
    <md-list flex>
        <md-list-item ng-repeat="item in vm.questionnaires" class="noright">
            <p flex>{{ item.description}} {{ item.version}}</p>
            <md-icon md-svg-icon="email"  ng-click="vm.deleteQuestionnaire(item)" aria-label="Delete" class="md-secondary md-hue-3" ></md-icon>
            <md-divider ></md-divider>
        </md-list-item>
    </md-list>
    
    
</md-content>
