<md-content class="md-padding" layout="column" layout-sm="column" ng-controller="QuestionnaireAddController as vm">
    <md-content class="md-padding" layout="row">
    <md-input-container flex>
        <label>{{ 'SHORD_DESC' | translate }}</label>
        <input ng-model="vm.questionnaire.title">
    </md-input-container>
    <md-input-container>
        <label>{{ 'VERSION' | translate }}</label>
        <input ng-model="vm.questionnaire.version">
    </md-input-container>
    </md-content>
    
    <aps-upload-file></aps-upload-file>
    
    <div layout="row" layout-sm="column" layout-margin>
    <md-button class="md-raised md-primary" flex="50" flex-sm="100" ng-click="vm.downloadQuestionnaire()">{{ 'BUTTON_DOWNLOAD' | translate }}</md-button>
    </div>
    
</md-content>
