<md-content class="md-padding" layout="column" ng-controller="ServeyDesignerController as vm">
    <md-list flex>
        <md-list-item  ng-repeat="item in questions" class="noright">
            <!--{{item.description}}-->
            <md-input-container>
                <input ng-model="item.description" type="text">
            </md-input-container>
            <md-button class="md-raised md-primary" ng-click="">Edit</md-button>
            <md-button class="md-raised md-primary" ng-click="">Delete</md-button>
        </md-list-item>
    </md-list>
    <md-list flex>
        <md-list-item ng-repeat="itemToAdd in itemsToAdd">
            <md-input-container>
                <label>{{ 'QUESTION' | translate }}</label>
                <input ng-model="itemToAdd.description" type="text">
            </md-input-container> 
            <md-input-container>
                <label>{{ 'TYPE' | translate }}</label>
                <md-select ng-model="itemToAdd.type" ng-change="changeSelected($event, itemToAdd.type, itemToAdd.answer)" >
                    <md-option ng-repeat="type in qtypes" ng-value="type.description">
                        {{type.description}}
                    </md-option>
                </md-select>
            </md-input-container>   
            <md-button class="md-raised md-primary" ng-click="fix(itemToAdd)">{{ 'BUTTON_FIX' | translate }}</md-button>
        </md-list-item>
    </md-list>
    <md-button class="md-raised md-primary" ng-click="addNew()">{{ 'BUTTON_ADD_NEW' | translate }}</md-button>
</md-content>





<script type="text/ng-template" id="dialog-choise.tmpl.html">
<md-dialog aria-label="Single Choise Answers">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Single Choise Answers</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="assets/images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>$scope.answerToAdd
    </md-toolbar>

    <md-dialog-content>
    <div class="md-dialog-content">
        <md-content ng-controller="ServeyDesignerController as vm">
  <md-list flex>
        <md-list-item  ng-repeat="answer in answers" class="noright">
            {{answer.option}}
        </md-list-item>
    </md-list>
    <md-list flex>
        <md-list-item ng-repeat="answerToAdd in answersToAdd">
            <md-input-container>
                <input required ng-model="answerToAdd.option" type="text">
            </md-input-container>  
            <md-button class="md-raised md-primary" ng-click="fixAnswer(answerToAdd)">FixAnswer</md-button>
        </md-list-item>
    </md-list>
    <md-button class="md-raised md-primary" ng-click="addNewAnswer()">Add new</md-button>
            </md-content>
      </div>
    </md-dialog-content>

    <div class="md-actions" layout="row" layout-align="end center">
      <span flex></span>
      <md-button ng-click="addAnswers(answersToAdd)">
        OK
      </md-button>
    </div>
  </form>
</md-dialog>
</script>



<script type="text/ng-template" id="dialog-dichotomouse.tmpl.html">
<md-dialog aria-label="Dichotomous Answers">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Dichotomous Answers</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="assets/images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
    <div class="md-dialog-content">
        <md-content>
            <md-input-container>
                <label>First answer</label>
                <input required ng-model="dichotomous.option1">
            </md-input-container>
            <md-input-container>
                <label>Second answer</label>
                <input required ng-model="dichotomous.option2">
            </md-input-container>
        </md-content>
      </div>
    </md-dialog-content>

    <div class="md-actions" layout="row" layout-align="end center">
      <span flex></span>
      <md-button ng-click="addAnswers()">
        OK
      </md-button>
    </div>
  </form>
</md-dialog>
</script>

<script type="text/ng-template" id="dialog-bipolar.tmpl.html">
<md-dialog aria-label="Dichotomous Answers">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Dichotomous Answers</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="assets/images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
    <div class="md-dialog-content">
        <md-content>
            <md-input-container>
                <label>Left Border</label>
                <input required ng-model="answer.bipolar.option1">
            </md-input-container>
            <md-input-container>
                <label>Right Border</label>
                <input required ng-model="answer.bipolar.option2">
            </md-input-container>
        </md-content>
      </div>
    </md-dialog-content>

    <div class="md-actions" layout="row" layout-align="end center">
      <span flex></span>
      <md-button ng-click="addAnswers(answersToAdd)">
        OK
      </md-button>
    </div>
  </form>
</md-dialog>
</script>