<div layout="row">

    <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left"
                class="md-whiteframe-z2 md-sidenav-left">

        <md-button ng-repeat-start="item in vm.menuItems" layout="row" layout-align="start center"
                   class="capitalize"
                   ui-sref-active="md-warn" ui-sref="{{item.sref}}">
            <div hide-sm hide-md class="md-tile-content" layout-margin>
                <i class="material-icons md-36">{{item.icon}}</i>
            </div>
            <div class="md-tile-content">
                {{item.name}}
            </div>
        </md-button>
        <md-divider ng-repeat-end></md-divider>
    </md-sidenav>
    <div layout="column" flex>
        <div layout-gt-md="row">
            <panel-widget flex title="{{ 'BP_DIARY' | translate }}" template="app/views/partials/bloodpressure.html"
                          class="fixed-height-widget"></panel-widget>
            <panel-widget flex title="{{ 'CALENDAR' | translate }}" template="app/views/partials/calendar.html"
                          class="fixed-height-widget"></panel-widget>
        </div>
        
                <div layout-gt-md="row">
            <panel-widget flex title="ECG" template="app/views/partials/ecg.html"
                          class="fixed-height-widget"></panel-widget>

        </div>

    </div>
</div>

