<div layout-gt-md="row">
    <panel-widget flex title="{{ 'DOCTOR' | translate }}" template="app/views/partials/doctor.html" class="fixed-height-widget"></panel-widget>
    <panel-widget flex title="{{ 'INVITE' | translate }}" template="app/views/partials/invites.html" class="fixed-height-widget"></panel-widget>
    <panel-widget flex title="{{ 'RESET_PWD' | translate }}" template="app/views/partials/password-recovery.html" class="fixed-height-widget"></panel-widget>
</div>
<div layout-gt-md="row">
    <panel-widget flex title="{{ 'PATIENT_LIST' | translate }}" template="app/views/partials/patient-list.html" class="fixed-height-widget"></panel-widget>
    <panel-widget flex title="{{ 'QUESTIONNAIRES' | translate }}" template="app/views/partials/questionnaire-list.html" class="fixed-height-widget"></panel-widget>
</div>

<div layout-gt-md="row">
    <panel-widget flex title="{{ 'QUESTIONNAIRE_CONS' | translate }}" template="app/views/partials/servey-designer.html" class="fixed-height-widget"></panel-widget>
</div>
