<!-- Banner -->
<div id="banner-wrapper">
    <div class="content">
        <section id="banner">
            <span class="image featured"><img src="assets/images/promo.jpg" alt="" /></span>
            <h2 >Мобильный сервис диагностики сердечных аритмий</h2>

        </section>
    </div>
</div>

    <md-content  layout="row" layout-align="center center" flex >

                <section class="box highlight">
                    <header>
                        <p>Сервис мобильной диагностики сердечных аритмий «CardiaCare» предоставляет автоматическую расшифровку и первичную диагностику электрокардиограмм в режиме реального времени.</p>
                    </header>
                    <p>
                        Комплекс мобильной мониторинга сердечной деятельности включает в себя портативный кардиорекордер для записи и хранения ЭКГ и приложение для детального исследования ЭКГ, клиентское приложение врача, предоставляющее доступ к данным пациентов и полной расшифровке ЭКГ. 
                    </p>
                </section>
        </md-content>

            <md-content layout="column">

                    <h2 class="major"><span>Основные возможности</span></h2>

                            <md-content class="md-padding" layout-xs="column" layout="row">
                                <!-- Feature -->
                                <md-card>
                                    <img ng-src="assets/images/pic02.jpg" class="md-card-image" alt="Washed Out">
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Автоматический анализ ЭКГ</span>
                                        </md-card-title-text>
                                    </md-card-title>
                                    <md-card-content>
                                        <p>
                                            Сервис позволяет просматривать записи ЭКГ, сопровождаемые информацией об обнаруженных нарушениях сердечной деятельности.															
                                        </p>
                                    </md-card-content>
                                </md-card>

                                <md-card>
                                    <img ng-src="assets/images/pic02.jpg" class="md-card-image" alt="Washed Out">
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Статистические показатели</span>
                                        </md-card-title-text>
                                    </md-card-title>
                                    <md-card-content>
                                        <p>
                                            Врач может анализировать различные статистические показатели:
                                            кардиоритмографию, кардиоинтервалограмма, кардиогистограмма, скаттерограмма, и др. 
                                        </p>
                                    </md-card-content>
                                </md-card>

                                <md-card>
                                    <img ng-src="assets/images/pic02.jpg" class="md-card-image" alt="Washed Out">
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Удаленная диагностика</span>
                                        </md-card-title-text>
                                    </md-card-title>
                                    <md-card-content>
                                        <p>
                                            Для работы с сервисом с пациента снимается кардиограмма с помощью любого портативного кардиосенсора, 
                                            который способен передавать данные, SD, Bluetooth, wifi.
                                        </p>
                                    </md-card-content>
                                </md-card>
                            </md-content>
            </md-content>



<!-- Footer -->
<footer id="footer" class="container">
    <!-- Copyright -->
    <div id="copyright">
        <ul class="menu">
            <li>Проект создан при поддержке гранта <b>ENPI Karelia KA-179</b></li>
            <li>Разработчики <a href="mailto:aborod@cs.karelia.ru">	
                    Александр Бородин</a>,<a href="mailto:yzavyalo@cs.karelia.ru">Юлия Завьялова</a>.</li>
            <br />
            <li>Copyright &copy; 
                
            2017, Лаборатория мобильных и беспроводных технологий ИТ-парка Петрозаводского государственного университета</li>
        </ul>
    </div>

</footer>