<div layout="row" layout-align="center center" flex >
    <div access-control="not-authorized" id="content" flex>
        Banner
    </div>
</div>


<div layout="row" layout-align="center center" flex >
    <div access-control="not-authorized" id="content" flex flex-gt-md="80" flex-gt-lg="70" >
        <div layout="row">
            <div layout="column">
                <i class="mdi-image-flash-on"></i>
                <h5 >Speeds up development</h5>
                <p class="light center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
            </div >
            <div layout="column">
                <i class="mdi-image-flash-on"></i>
                <h5 >Speeds up development</h5>
                <p class="light center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
            </div>
            <div layout="column">
                <i class="mdi-image-flash-on"></i>
                <h5 >Speeds up development</h5>
                <p class="light center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
            </div>
        </div>
    </div>
    
</div>

<div layout="row" layout-align="center center" flex >
    footer
</div>
