<md-sidenav md-is-locked-open="$mdMedia('gt-sm')"
            md-component-id="left"
            class="md-whiteframe-z2 md-sidenav-left"
            access-control="authorized-only"
            ng-hide="sideNavHide">

    <md-toolbar md-theme="custom" class="md-hue-1 md-whiteframe-z2">
            <md-button layout="row" layout-align="center center" class="md-toolbar-tools md-warn"
                       ui-sref="home.index">
                <h1>CardiaCare</h1>
            </md-button>
    </md-toolbar>
    <md-button ng-repeat-start="item in vm.menuItems" layout="row" layout-align="start center"
               class="capitalize"
               ui-sref-active="md-warn" ui-sref="{{item.sref}}">
        <div hide-sm hide-md class="md-tile-content" layout-margin>
            <i class="material-icons md-36">{{item.icon}}</i>
        </div>
        <div class="md-tile-content">
            {{item.name}}
        </div>
    </md-button>
    <md-divider ng-repeat-end></md-divider>
</md-sidenav>

<div layout="column" flex>
    <md-toolbar layout="row" layout-align="center center" >
        <section layout-align="start center" layout-fill flex>
            <!--menu button on small view-->
            <md-button hide-gt-sm ng-click="vm.toggleItemsList()" aria-label="Menu">
                <i class="material-icons">menu</i>
            </md-button>
        </section>
        <section layout-align="start center" layout-fill flex>
        </section>
        <section layout-align="end center">
            <md-menu-bar>
                <md-menu access-control="authorized-only">
                    <md-button class="md-primary account_button" aria-label="Doctor" ng-click="$mdOpenMenu()">
                        <span class="account_button">{{ 'PERS_ACC' | translate }}</span>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ui-sref="home.main">
                                {{ 'ACC' | translate }}
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button  ng-click="logout($event)">
                                {{ 'LOG_OUT' | translate }}
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ui-sref="home.license">
                                Политика конфеденциальности
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu >
                    <md-button class="md-fab md-raised" aria-label="Doctor" ng-click="$mdOpenMenu()">
                        {{language}}
                    </md-button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button aria-label="En" ng-click="enLang()">English
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button aria-label="Ru" ng-click="ruLang()">Russian
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu >
            </md-menu-bar>
        </section>
    </md-toolbar>

    <md-content flex class="page-content">
        <div ui-view></div>
    </md-content>
</div>

