
<div layout="column" flex>
    <md-toolbar layout="row" layout-align="center center" >
        <section layout-align="start center" class="md-hue-1 md-whiteframe-z2">
            <md-button layout="row" layout-align="center center" class="md-toolbar-tools md-raised md-warn"
                       href="#">
                <h1>CardiaCare</h1>
            </md-button>
        </section>
        <section layout-align="start center" layout-fill flex>

        </section>
        <section layout-align="end center">
            <md-menu-bar>
                <md-menu >
                    <md-button class="md-fab md-primary" aria-label="Doctor" ng-click="$mdOpenMenu()">
                        <md-icon md-svg-src="assets/images/avatar-1.svg"></md-icon>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ui-sref="home.doctor-dashboard">
                                {{ 'DOCTOR_ACC' | translate }}
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button  ng-click="logout($event)">
                                {{ 'LOG_OUT' | translate }}
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-bar>
        </section>
    </md-toolbar>

    <md-content flex class="md-padding page-content">
        <div ui-view></div>
    </md-content>
</div>

