<div layout="row">
    <!-- TODO: Add validations -->
    <div layout="column" flex>  

        <div layout-gt-md="row">
            <panel-widget flex title="{{ 'PATIENT' | translate }}" template="app/views/partials/patient.html"
                          class="fixed-height-widget"></panel-widget>
            <panel-widget flex title="{{ 'DOCTORS' | translate }}" template="app/views/partials/patient-doctors.html"
                          class="fixed-height-widget"></panel-widget>
            <panel-widget flex title="{{ 'RESET_PWD' | translate }}" template="app/views/partials/password-recovery.html" class="fixed-height-widget"></panel-widget>
        
        
        </div>
    </div>
</div>
