<div layout="row">

    <div layout="column" flex>
        <div layout-gt-md="row">
            <panel-widget flex title="{{ 'BP_DIARY' | translate }}" template="app/views/partials/bloodpressure.html"
                          class="fixed-height-widget"></panel-widget>
            <panel-widget flex title="{{ 'CALENDAR' | translate }}" template="app/views/partials/calendar.html"
                          class="fixed-height-widget"></panel-widget>
        </div>
        
                <div layout-gt-md="row">
            <panel-widget flex title="ECG" template="app/views/partials/ecg.html"
                          class="fixed-height-widget"></panel-widget>

        </div>
        
        
        <div layout-gt-md="row">
            <panel-widget flex title="{{ 'FEEDBACKS_LIST' | translate }}" template="app/views/partials/feedback-list.html"
                          class="fixed-height-widget"></panel-widget>

            <panel-widget flex title="{{ 'FEEDBACK' | translate }}" template="app/views/partials/feedback.html"
                          class="fixed-height-widget"></panel-widget>
        </div>

    </div>
</div>