<md-content class="md-padding" layout="column">
    <md-list flex>
        <md-list-item  ng-repeat="item in items" class="noright">
            {{item.firstName}} {{item.lastName}}
        </md-list-item>
    </md-list>
    <md-list flex>
        <md-list-item ng-repeat="itemToAdd in itemsToAdd">
            <md-input-container>
                <label>Question</label>
                <input ng-model="itemToAdd.firstName" type="text">
            </md-input-container>   
            <md-input-container>
                <label>Type</label>
                <md-select ng-model="qtypes"  ng-change="changeSelected()">
                    <md-option ng-repeat="type in qtypes track by $index" ng-value="type.description">
                        {{type.description}}
                    </md-option>
                </md-select>
            </md-input-container>   
            <md-button class="md-raised md-primary" ng-click="fix(itemToAdd)">Fix</md-button>
        </md-list-item>
    </md-list>
    <md-button class="md-raised md-primary" ng-click="addNew()">Add new</md-button>
</md-content>